name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false

      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_HAPPY_COAST_026332903 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}  # Used for GitHub integrations (i.e. PR comments)
          action: "upload"
          app_location: "./src/frontend"  # Path to your frontend app source code
          api_location: ""  # Path to API code (if any)
          output_location: "."  # Path to build output (can be configured based on your app)

      - name: Run Lighthouse Tests
        if: success()  # Only run Lighthouse tests if the build was successful
        uses: treosh/lighthouse-ci-action@v12
        with:
          urls: |
            https://todo-app.luukmueller.emf-informatique.ch  # Your live app URL
          upload: true  # Upload results to Lighthouse CI dashboard
          configFile: './lighthouserc.json'  # Path to your lighthouserc.json configuration file

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_HAPPY_COAST_026332903 }}
          action: "close"
